@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* ---------------------------------------
   1) تعریف توکن‌ها در @theme
-----------------------------------------*/
@theme {
  --color-primary-accent: oklch(from var(--primary-accent) l c h);
  --color-secondary-accent: oklch(from var(--secondary-accent) l c h);
  --color-third-accent: oklch(from var(--third-accent) l c h);

  --color-background: oklch(from var(--background) l c h);
  --color-surface: oklch(from var(--surface) l c h);
  --color-border: oklch(from var(--border) l c h);

  --color-text-main: oklch(from var(--text-main) l c h);
  --color-text-faded: oklch(from var(--text-faded) l c h);
  --color-text-muted: oklch(from var(--text-muted) l c h);
}

/* ---------------------------------------
   2) LIGHT MODE (پیش‌فرض)
-----------------------------------------*/
:root {
  /* رنگ‌های اکسنت (ثابت) */
  --primary-accent: #e81cff;
  --secondary-accent: #40c9ff;
  --third-accent: #64ffda;

  /* Light Theme */
  --background: #ffffff;
  --surface: #f5f5f5;
  --border: #dddddd;
  --text-menu: #121111;

  --text-main: #111111;
  --text-faded: #555555;
  --text-muted: #777777;
}

/* ---------------------------------------
   3) DARK MODE
-----------------------------------------*/
html.dark {
  /* رنگ‌های اکسنت (ثابت - اگر خواستی می‌تونی آنها را هم تغییر بدی) */
  --primary-accent: #e81cff;
  --secondary-accent: #40c9ff;
  --third-accent: #64ffda;

  /* Dark Theme */
  --background: #000000;
  --surface: #1a1a1a;
  --border: #414141;
  --text-menu: #64ffda;


  --text-main: #ffffff;
  --text-faded: #cccccc;
  --text-muted: #888888;
}
