@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* ---------------------------------------
   1) تعریف توکن‌ها در @theme
-----------------------------------------*/
@theme {
  --color-primary-accent: oklch(from var(--primary-accent) l c h);
  --color-secondary-accent: oklch(from var(--secondary-accent) l c h);
 

  --color-background: oklch(from var(--background) l c h);
  --color-surface: oklch(from var(--surface) l c h);
  --color-border: oklch(from var(--border) l c h);

  --color-text-main: oklch(from var(--text-main) l c h);
  --color-text-faded: oklch(from var(--text-faded) l c h);
  --color-text-muted: oklch(from var(--text-muted) l c h);
}

/* ---------------------------------------
   2) LIGHT MODE (پیش‌فرض)
-----------------------------------------*/
:root {
  /* Light Theme */
  --primary-accent: #00bc91;
  --secondary-accent: #40c9ff;

  --background: #ffffff;
  --surface: #f5f5f5;
  --border: #dddddd;

  --text-main: #111111;
  --text-faded: #555555;
  --text-muted: #777777;
}

/* ---------------------------------------
   3) DARK MODE
-----------------------------------------*/
html.dark {

  --primary-accent: #00bc91;
  --secondary-accent: #40c9ff;
  
  --background: #0f0f0f;
  --surface: #1a1a1a;
  --border: rgb(255 255 255 / 7%);
  
  --text-main: #ffffff;
  --text-faded: #ffffffaa;
  --text-muted: #fff3;
}

