@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* ---------------------------------------
   1) تعریف توکن‌ها در @theme
-----------------------------------------*/
@theme {
  --color-primary-accent: oklch(from var(--primary-accent) l c h);
  --color-secondary-accent: oklch(from var(--secondary-accent) l c h);
 

  --color-background: oklch(from var(--background) l c h);
  --color-surface: oklch(from var(--surface) l c h);
  --color-border: oklch(from var(--border) l c h);

  --color-text-main: oklch(from var(--text-main) l c h);
  --color-text-faded: oklch(from var(--text-faded) l c h);
  --color-text-muted: oklch(from var(--text-muted) l c h);

  --animate-slide-down: slideDown 0.4s ease-out;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* ---------------------------------------
   2) LIGHT MODE (پیش‌فرض)
-----------------------------------------*/
:root {
  /* Light Theme */
  --primary-accent: #00bc91;
  --secondary-accent: #3b82f6;
  /* --secondary-accent: #40c9ff; */

  --background: #f5f5f5;
  --surface: #ede9e9;
  --border: #c0c0c0;

  --text-main: #111111;
  --text-faded: #555555;
  --text-muted: #777777;
}

/* ---------------------------------------
   3) DARK MODE
-----------------------------------------*/
html.dark {

  --primary-accent: #00bc91;
  --secondary-accent: #3b82f6;
  
  --background: #0f0f0f;
  --surface: #1a1a1a;
  --border: rgb(255 255 255 / 7%);
  
  --text-main: #ffffff;
  --text-faded: #ffffffaa;
  --text-muted: #fff3;
}








/* scroll bar */
body {
 
  --sb-size: 9px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--surface);
  border-radius: 17px;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-accent);
  border-radius: 17px;
  border: 1px solid var(--border);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--primary-accent)
                     var(--surface);
  }
}


